@import "src/assets/styles/_variables";

table {
  width: 100%;
}
table,
td {
  border: 1px solid $grey;
  border-collapse: collapse;
}

.table--header {
  background-color: $grey;
  color: white;
  text-transform: uppercase;
  padding: 0 15px;
  font-weight: 600;
  &:not(:last-of-type) {
    border-right: 1px solid white;
  }
}

.active-row {
  background-color: $corporate-background;
}

.table--cell {
  height: 80px;

  span {
    padding-left: 16px;
    padding-top: 8px;
  }

  &:nth-child(1) {
    width: 25%;
  }
  &:nth-child(2) {
    width: auto;
  }
  &:nth-child(3) {
    width: 25%;
  }
  &:nth-child(4) {
    width: 15%;
    div {
      justify-content: center;
    }
  }
  div {
    display: flex;
    align-items: center;
  }
}

.check {
  color: $corporate-green;
}
.cancel {
  color: $corporate-red;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding: 0;
  width: 100%;
  background-color: white;
  border-radius: 8px;
}

:host ::ng-deep .mat-form-field {
  color: $text-color;
  width: calc(100% - 10px);
  margin: 0 auto;
}
