@mixin pillStyle($color) {
  background-color: $color;
  box-shadow: rgba($color, 75%) 0px 3px 20px 0px,
    rgba($color, 90%) 0px 2px 20px -6px;
}

:host {
  min-width: 150px;
  width: calc((100% - 60px) / 3);
  max-width: 200px;
  min-height: 250px;
  text-align: center;
  margin: 10px 10px 10px 0;
  border: 1px solid rgba(#717171, 0.25);
  .image-wrapper {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .pill {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 20px;
      border-radius: 20px;
      color: white;
      letter-spacing: 1px;

      &.green {
        @include pillStyle(#58dcad);
      }
      &.purple {
        @include pillStyle(#9775e5);
      }
      &.blue {
        @include pillStyle(#66a5ed);
      }
      &.orange {
        @include pillStyle(#f0b065);
      }
    }
  }

  h3 {
    margin: 10px auto 0;
    font-size: 24px;
    font-weight: 600;
  }
  p {
    word-break: break-word;
  }
  h3,
  p {
    color: #717171;
  }
}
