@import "src/assets/styles/_variables";

:host {
  min-width: 150px;
  width: calc((100% - 60px) / 3);
  max-width: 200px;
  min-height: 250px;
  text-align: center;
  margin: 10px 10px 10px 0;
  border: 1px solid rgba($text-color, 0.25);
  .image-wrapper {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .pill {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 20px;
      border-radius: 20px;
      color: white;
      letter-spacing: 1px;

      &.green {
        @include pillStyle($green-pill);
      }
      &.purple {
        @include pillStyle($purple-pill);
      }
      &.blue {
        @include pillStyle($blue-pill);
      }
      &.orange {
        @include pillStyle($orange-pill);
      }
    }
  }

  h3 {
    margin: 10px auto 0;
    font-size: 24px;
    font-weight: 600;
  }
  p {
    word-break: break-word;
  }
  h3,
  p {
    color: $text-color;
  }
}
