<div class="container">
  <div class="controls">
    <app-toggle-button (display)="handleDisplay($event)"></app-toggle-button>
    <button class="add" (click)="addUser()" type="button">
      {{ "add row" | uppercase }}
    </button>
  </div>

  <ng-container
    *ngIf="display; then displayTable; else displayList"
  ></ng-container>

  <ng-template #displayTable>
    <div class="users-table mat-elevation-z8">
      <app-table></app-table>
    </div>
  </ng-template>

  <ng-template #displayList>
    <div class="users-list mat-elevation-z8">
      <ng-container *ngIf="marketingUsers$ | async as marketingUsers">
        <app-list
          [users]="marketingUsers"
          [department]="departments.Marketing"
        ></app-list>
      </ng-container>
      <div></div>
      <ng-container *ngIf="developmentUsers$ | async as developmentUsers">
        <app-list
          [users]="developmentUsers"
          [department]="departments.Development"
        ></app-list>
      </ng-container>
    </div>
  </ng-template>
</div>
