<h1 mat-dialog-title>{{ isDisabled ? "Remove" : "Add" }} row</h1>
<!-- <div mat-dialog-content> -->
<form mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Department</mat-label>
    <mat-select formControlName="department">
      <mat-option *ngFor="let department of departments" [value]="department">
        {{ department }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<!-- </div> -->
<div mat-dialog-actions align="end">
  <button mat-dialog-close>{{ "Cancel" | uppercase }}</button>
  <ng-container *ngIf="isDisabled; else formControl">
    <button class="custom-button" type="button" [mat-dialog-close]="data">
      {{ "Remove" | uppercase }}
    </button>
  </ng-container>
  <ng-template #formControl>
    <button
      class="custom-button"
      type="submit"
      (click)="onSubmit()"
      [disabled]="form.invalid"
    >
      {{ "Save" | uppercase }}
    </button>
  </ng-template>
</div>
